    h1 {
        font-family: 'KOVER', sans-serif;
        text-align: center;
    }
    
    h2 {
        font-family: 'BNT';
        text-align: center;
    }
    /* .subheading {} */
    
    .container {
        background: #f5d9df;
        font-family: "Nunito", sans-serif;
        font-weight: 100px;
    }
    
    iframe[seamless] {
        /*this takes away the ugly formatting over the PlayerHTMLTemplateKath*/
        border: none;
    }
    
    div.radioMaster {
        background-color: rgba( 40, 52, 75, 0.3);
        border-radius: 25px;
        text-align: center;
        font-size: 15px;
        font-family: 'BebasNeueRegular';
        /* auto margin puts div in center of screens, TOP LEFT BOTTOM RIGHT */
        margin: 25px;
    }
    
    div.numPlayersPg_Class {
        font-family: 'BebasNeueRegular';
        /* height: 250px; */
        background-color: rgba( 40, 52, 75, 0.3);
        border-radius: 25px;
        text-align: center;
        font-size: 15px;
        /* auto margin puts div in center of screens, TOP LEFT BOTTOM RIGHT */
        margin: 25px;
        color: white;
    }
    
    .slider {
        -webkit-appearance: none;
        appearance: none;
        width: 60%;
        height: 20px;
        background: rgb( 40, 52, 75);
        outline: none;
        opacity: 0.7;
        -webkit-transition: .2s;
        transition: opacity .2s;
    }
        
        
    .slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 25px;
        height: 25px;
        background: url(https://github.com/skullytb/mainshufflerexperiments/blob/main/Images/etc./586273b931349e0568ad89df.png?raw=true);
        cursor: pointer;
    }
        
        
    .slider::-mox-range-thumb {
        width: 25px;
        height: 25px;
        border: 0;
        background: url(https://github.com/skullytb/mainshufflerexperiments/blob/main/Images/etc./586273b931349e0568ad89df.png?raw=true);
        cursor: pointer;
    }

    img.poop {
        width: 100px;
        height: 100px;
    }
    
    div.resultsTag_Class {
        font-weight: bold;
        color: white;
        font-family: 'BebasNeueRegular';
        text-align: center;
        font-size: 2em;
        margin: 25px;
        /* font size should be the same as default h1 (the "lets do a main swap") so 2em */
    }
    
    .resetBtn {
        font-weight: bold;
        text-align: center;
        padding: 10px 20px;
        margin: 25px;
    }
    
    .swapBtn {
        font-weight: bold;
        text-align: center;
        padding: 10px 20px;
    }
    
    html,
    body {
        display: flex;
        flex-direction: column;
        height: 100%;
        /* for browsers that do not support grad ^^^^*/
        background-image: linear-gradient(to bottom, #2b3345, #eb9347);
        background-attachment: fixed;
    }
    
    .WelcomeBanner {
        height: 70px;
        width: 70px;
        color: white;
        margin: 0px 15px 0px 15px;
        font-weight: bolder;
        text-align: center;
        font-size: 25px;
        font-family: 'BebasNeueRegular';
        border-radius: 25px;
        line-height: 70px;
    }
    
    .selectDiv_Class {
        color: white;
        display: inline-block;
        background-color: #43484c;
        text-align: center;
        border-radius: 25px;
        margin: 2.5px;
    }
    
    #inputContainer {
        margin: 25px auto;
        padding: 10px;
        background-color: rgba(#405275 0.3);
        border-radius: 25px;
        text-align: center;
        font-size: 15px;
        font-family: 'BebasNeueRegular';
        margin: 25px;
    }
    
    .outputText {
        color: white;
        font-size: 1em;
    }
    
    .FooterClass {
        text-align: center;
        margin: 80px;
    }
    /* scrollbar */
    /* entire scrollbar width */
    
     ::-webkit-scrollbar {
        width: 1em;
        /* this bg color will be the same as the margin block in track vvv */
        background: rgba(67, 72, 76, 1);
    }
    /* Track, entire scrollbar itself*/
    
     ::-webkit-scrollbar-track {
        background: rgba(67, 72, 76, 1);
        border-radius: 100vw;
        /* ^^^ makes pill shape thumb look better at top of scroll */
        margin-block: 0.5em;
    }
    /* Handle */
    
     ::-webkit-scrollbar-thumb {
        /* in original color pack */
        background: rgba(33, 143, 254, 0.3);
        /* pill shape below */
        border-radius: 100vw;
        border: 2px solid rgb(67, 72, 76);
    }
    /* Handle on hover */
    
     ::-webkit-scrollbar-thumb:hover {
        /* slightly darker than thumb */
        background: rgba(31, 105, 180, 0.3);
    }
    
    .fa {
        filter: drop-shadow(3px 2px 2px rgb(0 0 0 / 0.4));
    }
    
    #SUBMIT {
        background-color: #218ffe;
    }
    
    #SUBMIT:hover {
        background-color: #70b3f5;
    }
    
    #RESET {
        background-color: #f99e1a;
    }
    
    #RESET:hover {
        background-color: #f6b95e;
    }
    
    
